.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgray;
  border: solid darkgray 1px;
  padding: 10px;

  .item-title {
    padding: 5px;
    font-size: 125%;
    &:first-letter {
      font-size: 200%;
    }
  }

  .item-content {
    background: #fff;
    padding: 10px;
    &:first-letter {
      font-size: 200%;
    }
  }

  .item-btn-back {
    background: lightblue;
    align-self: end;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
